<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:mysql://localhost:3306/map_fdm</property>
		<property name="connection.username">mapuser</property>
		<property name="connection.password">zaq1xsw2</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="show_sql">false</property>

		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>

		<!-- connection pool -->
		<property name="c3p0.min_size">5</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<mapping class="com.iblue.model.db.GeoStreet" />
		<mapping class="com.iblue.model.db.GeoStreetWeight" />
		<mapping class="com.iblue.model.db.Intersection" />
		<mapping class="com.iblue.model.db.NamedStreet" />
		<mapping class="com.iblue.model.db.NamedStreetType" />
		<mapping class="com.iblue.model.db.Spot" />
		<mapping class="com.iblue.model.db.StreetType" />
		<mapping class="com.iblue.model.db.TileContainer" />
		<mapping class="com.iblue.model.db.TileRange" />
		<mapping class="com.iblue.model.db.WeightedStreet" />
		<mapping class="com.iblue.model.db.WeightType" />

	</session-factory>
</hibernate-configuration>