@CHARSET "UTF-8";

body {
	font-family: Calibri, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}


#header {
	width: 100%;
	height: 100px;
}

#logo {
	height: 100%;
	float: left;
	margin-left: 120px;
}

#logo img {
	height: 80%;
	margin-top: 10%;
}

#footer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#footer img {
	height: 35px;
}

.follow {
	background-color:#599bb3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;	
	font-size:12px;	
	padding:6px 23px;
	text-decoration:none;
}
.follow:hover {
	background-color:#408c99;
}
.follow:active {
	position:relative;
	top:1px;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #0084b4;
}

.google {
	background-color: #dd4b39;
}

#login {	
	margin-left: auto;
	margin-right: auto;
	align: center;
	color: white;
	background-color: #666666;
	width: 250px;
	padding:30px;
	text-align:right;
}

#login .error {
	color:red;
	font-weight:bold;
}